<div class="row">
  <div class="col-xs-12">
    <img
      [src]="album?.pictureURL"
      alt="{{ album?.title }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ album?.name }}</h1>
    <p>Artist:  {{album?.artist}}</p>
    <p>Tracks:  {{album?.tracks}}</p>
    <p>Duration: {{album?.lengthMin}} min</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Album <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditAlbum()">Edit Album</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteAlbum()">Delete Album</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ album?.language }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let album of album?.rappers">
        {{ album.name }} - {{ album.dateOfBirth }}
      </li>
    </ul>
  </div>
</div>
