<div class="row">
  <div class="col-xs-12">
    <img
      [src]="album?.pictureURL"
      alt="{{ album?.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ album?.name }}</h1>
    <p> <b>Band:</b> {{album?.band}}</p>
    <p> <b>Tracks:</b> {{album?.tracks}}</p>
    <p> <b>Duration:</b> {{album?.lengthMin}} min</p>
    <!--<hr>-->
    <!--<label>Band details:</label>-->
    <!--<p> <b>Name:</b> {{album.band?.name}} </p>-->
    <!--<p> <b>Hit:</b> {{album.band?.bestTrack}}</p>-->
    <!--<p> <b>Artists:</b> {{album.band?.artists}}</p>-->
    <!--<hr>-->
    <!--<label>Recordcopany detials:</label>-->
    <!--<p> <b>Label:</b> {{album.recordcompany?.labelName}}</p>-->

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Album <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditAlbum()">Edit Album</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteAlbum()">Delete Album</a></li>
      </ul>
    </div>
  </div>
</div>
