<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="albumForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!albumForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <label>Album details:</label>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="pictureURL">Picture</label>
            <input type="text" id="pictureURL" formControlName="pictureURL" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="artist">Artist</label>
            <input type="text" id="artist" formControlName="artist" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="tracks">Tracks</label>
            <input type="number" id="tracks" formControlName="tracks" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="lengthMin">Length</label>
            <input type="number" id="lengthMin" formControlName="lengthMin" class="form-control">
          </div>
        </div>
      </div>

        <div class="row" formGroupName="rapper">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="rapperName">Name: </label>
              <input type="text" id="rapperName" formControlName="rapperName" class="form-control">
            </div>
          </div>
        </div>
      <div class="row" formGroupName="rapper">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="breakthroughTrack">Hit</label>
            <input type="text" id="breakthroughTrack" formControlName="breakthroughTrack" class="form-control">
          </div>
        </div>
      </div>
      <div class="row" formGroupName="rapper">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="dateOfBirth">Birth year</label>
            <input type="text" id="dateOfBirth" formControlName="dateOfBirth" class="form-control">
          </div>
        </div>
      </div>

      <div class="row" formGroupName="recordcompany">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="labelName">Label: </label>
            <input type="text" id="labelName" formControlName="labelName" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <img [src]="album.pictureURL" class="img-responsive">
        </div>
      </div>

    </form>
  </div>
</div>
